.description {
  padding: 140px 0 80px;
}

.description h2 {
  font-size: 30px;
  margin: 0;
  margin-bottom: 40px;
  position: relative;
  color: #1a293e;
}

.description h2:before {
  position: absolute;
    content: '';
    background: #1a293e;
    height: 2px;
    width: 60px;
    bottom: 0;
    left: 0;
    right: 0;
    margin: 0 auto;
}

.description .inner{
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}

.wrapper {
  display: flex;
  margin-bottom: 80px;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0px 10px 30px 0px rgb(138 185 45 / 20%);
}

.wrapper .slick-slide *{
  height: 100%;
}

.description h3 {
  font-size: 36px;
  position: relative;
  color: #1a293e;
  margin: 0;
  margin-bottom: 20px;
}

.description h3:before {
  position: absolute;
  content: '';
  background: #1a293e;
  height: 1px;
  width: 25px;
  left: 0;
  bottom: 0;
}

.description .img_wrapper {
  width: 60%;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}

.description .text_wrapper {
  background-color: white;
  padding: 30px;
}

.description .inner > .text_wrapper{
  padding: 0;
}

.description .img_wrapper img {
  width: 100%;
}

.description p {
  font-size: 16px;
  line-height: 1.8;
  margin-bottom: 25px;
  font-family: "Poppins";
  color: #1c1c1c;
}


.description .slick-arrow.slick-prev {
  left: 15px;
}

.description ul li {
  list-style: disc;
  font-size: 22px;
  line-height: 26px;
}
.description .Related_image {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  padding: 20px 0;
}
.description h6 {
  font-size: 20px;
}

/* __________________ */
/* Header/Blog Title */
.header {
  padding: 30px;
  font-size: 40px;
  text-align: center;
  background: white;
}
@media screen and (max-width: 991px) {
  .description .wrapper {
    flex-direction: column;
  }
  .description .img_wrapper {
    width: 100%;
  }
  .description .text_wrapper {
    width: 100%;
  }
}
/* Create two unequal columns that floats next to each other */
/* Left column */
.leftcolumn {
  float: left;
  width: 75%;
}

/* Right column */
.rightcolumn {
  float: left;
  width: 25%;
  padding-left: 20px;
}

/* Fake image */
.fakeimg {
  background-color: #aaa;
  width: 100%;
  padding: 20px;
}

/* Add a card effect for articles */
.card {
  background-color: white;
  padding: 20px;
  margin-top: 20px;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Footer */
.footer {
  padding: 20px;
  text-align: center;
  background: #ddd;
  margin-top: 20px;
}
.credit {
  padding: 0;
  margin: 0;
  color: #333;
  font-size: 12px;
  line-height: 16px;
}
.paragragh {
  font-size: 16px;
  line-height: 1.5;
  margin-bottom: 1em;

  font-family: "Poppins", sans-serif;
}

/* Responsive layout - when the screen is less than 800px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 800px) {
  .leftcolumn,
  .rightcolumn {
    width: 100%;
    padding: 0;
  }
}
