
.description{
  padding-top: 85px;
  width: 90%;
  margin: 0 auto;
}
.description h2{
  font-size: 30px;
  margin-bottom: 20px ;
}
.wrapper{
  display: flex;
  gap:25px;
}
.description h4{
  font-size: 25px;
  margin-bottom: 15px;
}
.description .img_wrapper{
  width: 60%;
}
.description .text_wrapper{
  width: 35%;
}
.description .img_wrapper img{
  width: 100%;
}
.description p{
  /* line-height: 38px; */
  font-size: 20px;
  line-height: 26px;
  margin-bottom: 25px;
}
.description ul li{
  list-style: disc;
  font-size: 22px;
  line-height: 26px;
}
.description .Related_image{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  padding: 20px 0;
}
.description h6{
  font-size: 20px;
}
.description h3{
  margin: 15px 0;
  font-size: 26px;
  text-align: center;
}

/* __________________ */
/* Header/Blog Title */
.header {
  padding: 30px;
  font-size: 40px;
  text-align: center;
  background: white;
}
@media screen and (max-width: 991px){
  .description .wrapper{
    flex-direction: column;
  }
  .description .img_wrapper{
    width: 100%;
  }
  .description .text_wrapper{
    width: 100%;
  }
} 
/* Create two unequal columns that floats next to each other */
/* Left column */
.leftcolumn {
  float: left;
  width: 75%;
}

/* Right column */
.rightcolumn {
  float: left;
  width: 25%;
  padding-left: 20px;
}

/* Fake image */
.fakeimg {
  background-color: #aaa;
  width: 100%;
  padding: 20px;
}

/* Add a card effect for articles */
.card {
  background-color: white;
  padding: 20px;
  margin-top: 20px;
  border-radius: 10px;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Footer */
.footer {
  padding: 20px;
  text-align: center;
  background: #ddd;
  margin-top: 20px;
}
.credit {
  padding: 0;
  margin: 0;
  color: #333;
  font-size: 12px;
  line-height: 16px;
}
.paragragh {
  font-size: 16px;
  line-height: 1.5;
  margin-bottom: 1em;

  font-family: "Poppins", sans-serif;
}

/* Responsive layout - when the screen is less than 800px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 800px) {
  .leftcolumn,
  .rightcolumn {
    width: 100%;
    padding: 0;
  }
}
