.Service_background {
  background-image: url(../../assests/images/service-bg.jpg);
  background-size: cover;
  border-radius: 10px;
  min-height: 400px;
  position: relative;
}
.overlay {
  border-radius: 10px;
  background: rgba(4, 9, 30, 0.8);
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}

.Service_background .textWrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding-top: 30px;
}
.textWrapper h2 {
  z-index: 99;
  color: white;
  margin: 20px;
  font-size: 40px;
}
.textWrapper p {
  z-index: 99;
  color: white;
  font-size: 20px;
}
.ammenties {
  display: flex;
  position: absolute;
  width: 90%;
  z-index: 99;
  left: 80px;
  bottom: -80px;
  justify-content: space-around;
}
@media screen and (max-width: 991px) {
  .ammenties {
    left: 37px;
  }
}
.inside_ammenties {
  background-color: white;
  width: 24%;
  min-height: 250px;
  text-align: center;
  border-radius: 25px;
  padding: 25px 10px;
  box-shadow: 0px 10px 30px 0px rgb(138 185 45 / 20%);
  display: flex;
  align-items: center;
  justify-content: center;
}
.inside_ammenties h3 {
  text-align: center;
  margin-bottom: 20px;
  font-size: 22px;
  color: green;
}
.inside_ammenties p {
  color: grey;
  padding: 0 15px;
  text-align: center;
  font-size: 18px;
}
