.main {
  padding-top: 150px;
  margin-bottom: 100px;
}
.main h2 {
  text-align: center;
  padding-top: 15px;
  font-size: 36px;
  line-height: 26px;
  margin-bottom: 20px;
  color: green;
}
.main .textWrapper {
  padding-top: 20px;
}
.main .textWrapper p {
  font-size: 19px;
  line-height: 20px;
  margin-bottom: 20px;
  text-align: center;
  color: gray;
}
.reviewWrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
.reviewWrapper .coment {
  margin-bottom: 30px;
  width: 100%;
}
.coment h4 {
  font-size: 26px;
  line-height: 26px;
  margin-bottom: 10px;
}
.coment p {
  font-size: 18px;
}

.sliderWrapper {
  max-width: 90%;
  margin: 0 auto;
  text-align: center;
}
.sliderWrapper .card {
  width: 90%;
  display: flex;
}
.sliderWrapper img {
  display: flex;
  align-self: center;
  width: 75%;
  margin: 0 auto;
  object-fit: cover;
  border-radius: 10px;
  height: 285px;
  margin-bottom: 15px;
}
.sliderWrapper h4 {
  color: green;
  font-size: 24px;
  margin-bottom: 5px;
  padding-left: 15px;
}
.sliderWrapper span {
  color: grey;
  font-size: 18px;
  padding-left: 15px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* html { */
/* font-size: 10px; */
/* font-size: 62.5%; */
/* } */

/* body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  font-family: "Poppins", sans-serif;
  font-size: 1.6rem;
  color: rgb(190, 190, 190);
  background-color: #231f3a;
  letter-spacing: 1px;
  transition: background-color 0.25s, color 0.25s;
} */
