.main {
  padding-top: 150px;
  margin-bottom: 100px;
}
.main h2 {
  text-align: center;
  padding-top: 15px;
  font-size: 36px;
  line-height: 26px;
  margin-bottom: 20px;
  color: green;
}
.main .textWrapper {
  padding-top: 20px;
}
.main .textWrapper p {
  font-size: 19px;
  line-height: 20px;
  margin-bottom: 20px;
  text-align: center;
  color: gray;
}
.reviewWrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
.reviewWrapper .coment {
  margin-bottom: 30px;
  width: 100%;
}
.coment h4 {
  font-size: 26px;
  line-height: 26px;
  margin-bottom: 10px;
}
.coment p {
  font-size: 18px;
}
/* .coment {
  background-color: white;
  width: 100%;
  padding: 100px;
  text-align: center;
  border-radius: 25px;
  padding: 25px 10px;
  box-shadow: 0px 10px 30px 0px rgb(138 185 45 / 20%);
} */

.sliderWrapper {
  max-width: 70%;
  margin: 0 auto;
}
.sliderWrapper .card {

  display: flex;
  align-items: center;
}
.sliderWrapper img {
  display: flex;
  align-self: center;
  width: 90%;
  object-fit: cover;
  border-radius: 10px;
  height: 285px;
  margin-bottom: 15px;
}
.sliderWrapper h4 {
  color: green;
  font-size: 24px;
  margin-bottom: 5px;
  padding-left: 15px;

}
.sliderWrapper span {
  color: grey;
  font-size: 18px;
  padding-left: 15px;
}
