.footer {
  padding-top: 60px;
  background: linear-gradient(#141e30, #243b55);
}

.footer__inner{
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  padding-bottom: 70px;
}

.footer h3{
  font-size: 30px;
  color: #fff;
  margin-bottom: 35px;
  font-weight: 400;
  text-transform: uppercase;
  position: relative;
}

.footer h3:before {
  position: absolute;
  content: '';
  background: #fff;
  height: 1px;
  width: 25px;
  left: 0;
  bottom: -10px;
}

.footer .footer__addr{
  width: 400px;
}

.footer .footer__inner > ul{
  display: flex;
  justify-content: space-between;
  max-width: 100%;
  width: 600px;
}


.footer__addr p{
  color: #e1e1e1;
  font-size: 16px;
  margin-bottom: 15px;
  font-family: "Poppins";
}

.footer__addr span{
  color: #e1e1e1;
  font-size: 13px;
  margin-bottom: 12px;
  font-family: "Poppins";
}


.footer__btn {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 36px;
  max-width: max-content;
  background-color: rgb(33, 33, 33, 0.07);
  border-radius: 100px;
  color: #2f2f2f;
  line-height: 0;
  margin: 0.6em 0;
  font-size: 1rem;
  padding: 0 1.3em;
}

.footer ul {
  list-style: none;
  padding-left: 0;
}

.footer li {
  line-height: 2em;
}

.footer a {
  color: #e1e1e1;
  font-size: 17px;
  transition: all ease-in-out 0.2s;
}

.footer a:hover {
  text-decoration: underline !important;
}

.footer a svg {
  margin-bottom: -4px;
  margin-right: 6px;
}

.legal{
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px 0;
  color: #e1e1e1;
  font-size: 18px;
  text-align: center;
  border-top: 1px solid rgba(255,255,255,0.1);
}


