.Service_background{
    background-image: url(../../assests/images/service-bg.jpg);
    background-size: cover;
    border-radius: 10px;
    min-height: 400px;
    position: relative;
}
.overlay{
    border-radius: 10px;
    background: rgba(4, 9, 30, 0.8);
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;

}
.Service_background .textWrapper{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding-top: 30px;
}
.textWrapper h2{
    z-index: 999;
    color: white;
    margin-bottom: 20px;
    font-size: 36px;
}
.textWrapper p{
    z-index: 999;
    color: white;
    font-size: 22px;
}
.ammenties{
    display: flex;
    position: absolute;
    width: 100%;
    z-index: 9999;
    bottom: -44px;
    justify-content: space-around;
}
.inside_ammenties{
    background-color: white;
    width: 30%;
    text-align: center;
    border-radius: 25px;
    padding: 25px 10px;
    box-shadow: 0px 10px 30px 0px rgb(138 185 45 / 20%);

}
.inside_ammenties h3{
    
    text-align: center;
    margin-bottom: 20px;
    font-size: 22px;
}
.inside_ammenties p{
    color: grey;
    padding: 0 15px;
    text-align: center;
    font-size: 18px;
}