.wrapper {
  width: 70%;
  margin: 0 auto;
}
.wrapper h2 {
  margin-bottom: 10px;
  text-align: center;
}
.wrapper button {
  width: 70%;
  padding: 10px;
  font-size: 20px;
  color: green;
  /* background: white; */
  border: 0;
  border-radius: 10px;
  text-align: center;
}
