.bannerWrapper{
    background-image: url(../../assests/images/Faisal_Mosque.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    min-height: 789px;
    position: relative;
    z-index: 1;
    padding-bottom: 65px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    overflow: hidden;
}

.overlay{
    background-color: rgba(4, 9, 30, 0.6);
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}
.textWrapper{
    z-index: 99;
}
.explore{
    background: #1a293e;
    color: white;
    padding: 18px 35px 13px;
    border-radius: 8px;
    font-size: 30px;
    line-height: 23px;
    border: 0;
    text-transform: uppercase;
    transition: all ease-in-out 0.2s;
    box-shadow: 0px 1px 7px rgba(255,255,255,0.2);
}

.explore:hover{
    background: #fff;
    color: #1a293e;
}

.bannerWrapper h1{
    color: white;
    font-weight: bold;
    margin-bottom: 30px;
}
.bannerWrapper h5{
    color:  #fff;
    font-size: 40px;
    font-weight: 300;
    text-transform: uppercase;
}