.main{
    padding-top: 45px;
}
.main h2{
    text-align: center;
    padding-top: 15px;
    font-size: 36px;
    line-height: 26px;
    margin-bottom: 20px;
}
.main .textWrapper{
    padding-top: 20px;

}
.main .textWrapper p {
    font-size: 20px;
    line-height: 24px;
    margin-bottom: 20px;
    text-align: center;
}
.reviewWrapper{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;

}
.reviewWrapper .coment{
    margin-bottom: 30px;
    width: 40%;
}
.coment h4{
    font-size: 26px;
    line-height: 26px;
    margin-bottom: 10px;
}
.coment p{
    font-size: 18px;
   
}